/* Reset some defaults browser styles */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0,5rem 0;
}

header h2 {
    margin: 1rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

main nav ul {
    /* font-weight: bold; */
    list-style-type: none;
    display: block;
}

main aside nav ul li {
    font-weight: bold;
}

main nav ul ul li {
    font-weight: normal;
    list-style-type: none;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    transition: color 0.5s ease;
}

table tr td {
    font-weight: normal;
}

/* <main><aside><nav><ul><li> */

nav a:hover {
    color: #f4f4f4;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(130vh - 160px);
}

aside {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

article {
    flex: 1;
}

h3, h2 {
    border-bottom: 2px solid #071513;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

p, li {
    margin-bottom: 10px;
}

.pictures img {
    display: flex;
    align-items: center;
}

.pictures img {
    width: 300px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 2;
    width: 100%;
}

.right {
    text-align: center;
}

.underline-link {
    text-decoration: underline;
}

.underline-link:hover {
    text-decoration: none;
}
